body {
	background-image: url('images/morris-background.jpg');
	background-size: 100%;
}

#container {
	padding: 3%;
}

#logo {
	font-weight: 400;
	font-family: 'Halant', serif;
	font-size: 1.5em;
	letter-spacing: .3em;
	display: flex;
}

#logo-icon {
	margin-right: 1em;
}

.menu-list {
	list-style-type: none;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5em;
	letter-spacing: .3em;
	margin: .2em 0;
	padding-left: 0;
}
.menu-item {
	padding: .3em 0;
}

a {
	text-decoration: none;
	color: rgba(33, 33, 33, .9);
}

a:hover {
	color: rgb(255, 212, 22);
	border-bottom: 1px solid rgba(33, 33, 33, .8);
}

a:active {
	color: rgb(255, 212, 22);
}

#contact-info {
	font-size: .8em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: .2em;
	border-top: 1px solid rgba(33, 33, 33, .8);
	width: 90%;
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 380px) {

	#logo {
		font-weight: 400;
		font-family: 'Halant', serif;
		font-size: 1em;
		letter-spacing: .3em;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#logo-icon {
		width: 2em;
	}

	.menu-list {
		list-style-type: none;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
		font-size: .8em;
		letter-spacing: .3em;
		margin: 1em 0;
		padding-left: 0;
		text-align: center;
	}

	.menu-item {
		padding: 2.5em 0;
	}

	#contact-info {
		font-size: .8em;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		border-top: 1px solid rgba(33, 33, 33, .8);
		width: 90%;
		position: absolute;
		bottom: 0;
		height: 1.5em;
		text-align: center;
	}
}

@media screen and (min-width: 380px) and (max-width: 594px) {

}

@media screen and (min-width: 594px) and (max-width: 738px) {

	.menu-list {
		list-style-type: none;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
		font-size: 2em;
		letter-spacing: .3em;
		margin: .8em 0;
		padding-left: 0;
	}

	.menu-item {
		padding: .5em 0;
	}

	#contact-info {
		font-size: .8em;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		border-top: 1px solid rgba(33, 33, 33, .8);
		width: 90%;
		position: absolute;
		bottom: 0;
		height: 1.5em;	
	}
}
